* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 400px;
    background-color: #08008B;
}

nav {
    min-height: 100px;
    background-color: #ADD8E6;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 1000px;
    background-color: aqua;
}

footer {
    min-height: 400px;
    background-color: #23272A;
}

.nav-container {
    display: flex;
    max-width: 980px;
    width: 100%;
    margin: auto;
    background-color: #DBA520;
    height: 60px;   
}

.menu-logo {
    width: 200px;
    background-color: #DBA520;
    line-height: 60px;
    border: 1px dashed black;
    padding-left: 10px;
    border-right: 2px dashed black;
}

.menu-link {
    flex-grow: 1;
    background-color: #DBA520;
    line-height: 60px;
    border: 1px dashed black;
    padding-left: 10px;
    border-right: 2px dashed black;
    text-align: center;
}

.menu-login {
    width: 200px;
    background-color: #DBA520;
    line-height: 60px;
    border: 1px dashed black;
    padding-right: 10px;
    text-align: right;
}

.header-container {
    background-color: #08008B;
    min-height: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.abovethefold-container {
    max-width: 620px;
    width: 100%;
    margin: auto;
    background-color: #EF82EE;
    height: 250px
}
