* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 400px;
    background-color: #08008B;
}

nav {
    min-height: 100px;
    background-color: #ADD8E6;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 1000px;
    background-color: aqua;
}

footer {
    min-height: 450px;
    background-color: #23272A;
}

.nav-container {
    display: flex;
    max-width: 980px;
    width: 100%;
    margin: auto;
    background-color: #DBA520;
    height: 60px;   
}

.menu-logo {
    width: 200px;
    background-color: #DBA520;
    line-height: 60px;
    border: 1px dashed black;
    padding-left: 10px;
    border-right: 2px dashed black;
}

.menu-link {
    flex-grow: 1;
    background-color: #DBA520;
    line-height: 60px;
    border: 1px dashed black;
    padding-left: 10px;
    border-right: 2px dashed black;
    text-align: center;
}

.menu-login {
    width: 200px;
    background-color: #DBA520;
    line-height: 60px;
    border: 1px dashed black;
    padding-right: 10px;
    text-align: right;
}

.header-container {
    background-color: #08008B;
    min-height: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.abovethefold-box {
    max-width: 620px;
    width: 100%;
    margin: auto;
    background-color: #EF82EE;
    height: 250px;
    border: 1px dashed black;
}

.section1-container {
    background-color: white;
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section1-box {
    display: flex;
    margin: auto;
    max-width: 840px;
    width: 100%;
    height: 300px;
    border: 1px dashed black;
}

.section1-box-lightblue {
    flex-grow: 2;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.section1-box-pink {
    flex-grow: 1;
    background-color: #FFC0CB;
}

.section2-container {
    background-color: #D3D3D3;
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section2-box {
    display: flex;
    margin: auto;
    max-width: 840px;
    width: 100%;
    height: 300px;
    border: 1px dashed black;
}

.section2-box-lightblue {
    flex-grow: 1;
    background-color: #FFC0CB;  
}

.section2-box-pink {
    flex-grow: 2;
    background-color: #1E90FF;
    border: 1px dashed black;
}

.section4-container {
    background-color: #D3D3D3;
    min-height: 650px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.section4-box {
    background-color: #228B21;
    margin: auto;
    max-width: 840px;
    width: 100%;
    height: 600px;
    border: 1px dashed black;
}

.footer-container {
    display: flex;
    margin: auto;
    max-width: 840px;
    width: 100%;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bigrectangle-box {
    flex-grow: 2;
    background-color: #F08080;
    border: 1px dashed black;
}

.smallrectangle-box {
    flex-grow: 1;
    background-color: #20ACA4;
    border: 1px dashed black;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 840px;
    height: 50px;
    background-color: #7EFDD3;
    margin: auto;
    max-width: 840px;
    width: 100%;
    margin-top: 20px;
}

.calltoaction-logo {
    width: 100px;
    height: 30px;
    background-color: #F08080;
    border: 1px dashed black;
}

.calltoaction-bottone {
    width: 100px;
    height: 30px;
    background-color: #F08080;
    border: 1px dashed black;
}

